<!DOCTYPE html>
<head>
<link rel = 'stylesheet' type = 'text/css' href = 'css/success.css'>
<link rel = 'stylesheet' type = 'text/css' href = 'css/bootstrap.min.css'>
</head>
<body>
    <div class = 'container'>
        <h2 id = 'title'>Your ticket has been successfully submitted</h1>

        <button id = 'submit' type="button" class="btn btn-danger">New Ticket</button>
        <h4 id = 'subtitle'>Click here to submit another one</h4>
    </div>


<script src = 'js/success.js'></script>
</body>
</html>