<!DOCTYPE html>
<head>
<script src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'></script>
<script src="js/SalsaCalendar.min.js"></script>
<script src="js/njtimepicker.min.js"></script>
<link rel="stylesheet" href="css/SalsaCalendar.min.css">
<link rel="stylesheet" href="css/njtimepicker.min.css">
<link rel = 'stylesheet' type = 'text/css' href = 'css/bootstrap.min.css'>
<link rel = 'stylesheet' type = 'text/css' href = 'css/ticketSubmit.css'>
</head>
<body>
<div class = 'container'>
    <div class = 'header'>
        <h1>FL Escort Request</h1>
    </div>

    <div class = 'row justify-content-center'>
        <input type = 'text' id = 'name' class = 'form-control short-input'>
    </div>
<p>Name</p>
    
    <div class = 'row justify-content-center'>
        <input type="text" id="date" class="short-input salsa-calendar-input form-control" autocomplete="off" name="arrival" value="" />
    </div>
<p>Date of request</p>

    <div class = 'row justify-content-center'>
        <input class = 'form-control short-input' type = 'text' id = 'time'>
    </div>
<p>Time of request</p>

    <div class = 'row justify-content-center'>
        <textarea type = 'text' id = 'details' class = 'form-control long-input' rows="2"></textarea>
    </div> 
<p>Details</p>

    <div class = 'row justify-content-center'>
        <input type = 'text' id = 'email' class = 'form-control short-input'>
    </div>
<p>Email (optional)</p>

    <button id = 'submit' type="button" class="btn btn-primary">Submit</button>
</div>


<script src = 'js/ticketSubmit.js'></script>
</body>
</html>